---
import '../styles/global.css';
import Nav from '../components/Nav.astro';

const pageTitle = "catchusoutside";
const a = "Description";
const b = " minor description";
const c = "Quotes";
const d = "references";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>{pageTitle}</title>
	</head>
	<body>
        <Nav />
		<h1>{pageTitle}</h1>
		<h2>{a}</h2>
		<h3>{b}</h3>
		<h4>{c}</h4>
		<h5>{d}</h5>
	</body>
</html>
