---
import '../styles/global.css';
import Nav from '../components/Nav.astro';
import Placeholder from '../components/Placeholder.astro';

const pageTitle = "Session";
const a = "Description";
const b = " minor description";
const c = "Quotes";
const d = "references";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>{pageTitle}</title>
	</head>

	<body>
        <Nav />
		<h1>{pageTitle}_notviewable</h1>
		<h2>
			<div id="a_git_reference"></div>
		</h2>
		<h3>{b}</h3> 
		<h4>{c}</h4>
		<h5>{d}</h5>
		
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370001.jpg" alt ="1" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370002.jpg" alt ="2" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370003.jpg" alt ="3" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370004.jpg" alt ="4" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370005.jpg" alt ="5" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370006.jpg" alt ="6" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370007.jpg" alt ="7" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370008.jpg" alt ="8" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370000.jpg" alt ="9" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370010.jpg" alt ="10" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370011.jpg" alt ="11" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370012.jpg" alt ="12" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370013.jpg" alt ="13" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370014.jpg" alt ="14" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370015.jpg" alt ="15" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370016.jpg" alt ="16" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370017.jpg" alt ="17" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370018.jpg" alt ="18" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370019.jpg" alt ="19" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370020.jpg" alt ="20" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370021.jpg" alt ="21" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370022.jpg" alt ="22" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370023.jpg" alt ="23" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370024.jpg" alt ="24" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370025.jpg" alt ="25" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370026.jpg" alt ="26" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370027.jpg" alt ="27" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370028.jpg" alt ="28" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370029.jpg" alt ="29" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370030.jpg" alt ="30" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370031.jpg" alt ="31" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370032.jpg" alt ="32" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370033.jpg" alt ="33" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370034.jpg" alt ="34" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370035.jpg" alt ="35" class="centerImage" />
		<img src="https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/6937/69370036.jpg" alt ="36" class="centerImage" />


		 <script>
        // URL of the page or endpoint containing the text content
        var textUrl = "https://raw.githubusercontent.com/enrealiser/assets/main/session/allcakeallnight/a";


        // Fetch the text content from the URL
        fetch(textUrl)
            .then(response => response.text())
            .then(textContent => {
                // Find the container element where text will be inserted
                var container = document.getElementById("a_git_reference");


                // Create a new text node with the fetched content
                var textNode = document.createTextNode(textContent);


                // Append the text node to the container element
                container.appendChild(textNode);
            })
            .catch(error => {
                console.error('Error fetching text content:', error);
            });
    </script>

	</body>
</html>
